body{background:#efefef;}
/*no menu head*/
.a-topbar{background:#fff;border-bottom:2px solid #dd2017;*border-bottom:1px solid #f0f0f0;-webkit-box-shadow:0 3px 2px rgba(0, 0, 0,.5);-moz-box-shadow:0 3px 2px rgba(0, 0, 0, .1);box-shadow:0 3px 2px rgba(0, 0, 0, .1);border-bottom:1px solid #f0f0f0\0;}
.a-topbar .logo{float:left;margin:12px 0;}
.a-topbar .top-nav{float:right;height:40px;line-height:40px;color:#666;font-size:12px;margin-top:25px;}
.a-topbar .top-nav li{float:left;}
.a-topbar .top-nav a{padding:0 6px;color:#666;display:block;float:left;position:relative}
.a-topbar .top-nav a.aphone{padding-left:20px;}
.a-topbar .top-nav a.hi{color:#dd2017}
.a-topbar .top-nav a:hover{color:#c91b13;}
.user-root{height:57px;position:relative;border-bottom:1px dashed #ccc;}
.user-copy{font-size:12px;color:#666;text-align:center;height:40px;line-height:40px;}
.abs-user-root{height:16px;background:#efefef;width:110px;text-align:center;left:50%;bottom:-9px;color:#666;font-size:12px;margin-left:-55px;line-height:16px;}
/*risk test*/
.art-main{border:1px solid #ccc;background:#fff;padding:50px 39px 50px 39px;}
.risk-tit{padding-bottom:26px;} 
.risk-tit .h1,.risk-tit .h1-span{display:block;text-align:center;}
.risk-tit .h1{height:34px;line-height:34px;font-size:26px;}
.risk-tit .h1-span{height:21px;line-height:21px;}
.risk-info{background:#f6f6f6;border:1px dashed #ddd;padding:8px 19px}
.risk-info .h2{display:block;height:28px;line-height:28px;font-size:18px;}
.risk-info p{line-height:23px;color:#666;}
.art-main .h2{display:block;height:55px;line-height:55px;margin-top:10px;}
.art-main .cash-form,.art-main .cash-form .items-btn{padding-left:0;}
.art-main .cash-form .items-btn .btn{margin:0 auto;font-size: 16px;}
.risk-choice{padding-bottom:60px;}
.risk-choice dt{line-height:20px;padding:5px 0 5px 22px;position:relative}
.risk-choice dt span{left:0;top:5px;height:20px;line-height:20px;width:22px;font-size:14px;}
.risk-choice dd{padding:6px 0 10px 25px;}
.risk-choice dd li{height:30px;line-height:30px;text-align:left;color:#666;}
.risk-choice dd li label{padding:0 13px;}
.art-tit{padding-bottom:49px;border-bottom:1px dashed #ccc;} 
.art-tit .h1{display:block;text-align:center;line-height:38px;font-size:29px;}
.art-cont{line-height:27px;padding:30px 0;word-break:break-all;word-wrap:break-word;}
.art-cont p{margin-top:20px;text-align:justify;text-justify:inter-ideograph;}
.table table{border-collapse:collapse}
.table td{border:1px solid #ddd;padding:3px;font-size:12px;vertical-align:top}
/*bulletin*/
.bul-tit{border:1px solid #ccc;background:#fff;padding:39px 42px 30px 42px;border-bottom:0;text-align:center;}
.bul-tit .h1{display:block;line-height:38px;font-size:28px;color:#dd2017;}
.bul-tit .p{line-height:30px;color:#999;font-size:12px;}