body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td,img,a{margin:0;padding:0;}
html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}
body{font:14px/1.5 "Microsoft YaHei",\5FAE\8F6F\96C5\9ED1,sans-serif;color:#212e3e;background:#ffffff;overflow-x:auto;min-width:1200px;}
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block}
audio,canvas,progress,video{display:inline-block;vertical-align:baseline}
audio:not([controls]){display:none;height:0}
[hidden],template{display:none}sup{top:-.5em}sub{bottom:-.25em}a{background-color:transparent}a:active,a:hover{outline:0}
abbr[title]{border-bottom:1px dotted}b,strong{font-weight:700}dfn{font-style:italic}
h1{margin:0;}mark{background:#ff0;color:#000}small{font-size:80%}b,strong{font-weight:bold}i,em{font-style:italic}
sub,sup{position:relative;vertical-align:baseline;font-size:75%;line-height:0}
img{border:0;-ms-interpolation-mode:bicubic;vertical-align:middle;padding:0;margin:0;}
svg:not(:root){overflow:hidden}
figure{margin:1em 40px}
ul,li,ol,dl,dd,dt{list-style:none;margin:0}
hr{-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;height:0}
pre{overflow:auto}
code,kbd,pre,samp{font-size:1em;font-family:monospace,monospace}
button,input,optgroup,select,textarea{margin:0;color:inherit;font:inherit}
button{overflow:visible;outline: none}
button,select{text-transform:none}
button,html input[type=button],input[type=reset],input[type=submit]{cursor:pointer;-webkit-appearance:button}
button[disabled],html input[disabled]{cursor:default}
button::-moz-focus-inner,input::-moz-focus-inner{padding:0;border:0}
input{line-height:normal;outline: none}
input[type=checkbox],input[type=radio]{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:0}
input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto}
input[type=search]{-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;-webkit-appearance:textfield}
input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}
.head input[type=text]:focus{width:330px;border: 1px solid rgba(33,47,63,0.7);background-image: url(../img/b-search.png);background-repeat: no-repeat;background-position: 350px 10px;position: absolute;color:#212f3f;}
input[type=text]:focus #searchData{display:block;}
input::-ms-clear{display:none;}
legend{padding:0;border:0}
textarea{overflow:auto}
table{border-collapse:collapse;table-layout:fixed;border:0;margin:0;}
th{text-align:left;font-weight:normal}table .tdl,table .tdr{margin:0 5px;}
table .tdl{text-align:left;}table .tdr{text-align:right;}table .bg{background:#fff;}
.fade{opacity:0;-webkit-transition:opacity .15s linear;-o-transition:opacity .15s linear;transition:opacity .15s linear;}
.fade.in{opacity:1;}.hide{display:none}.show{display:block}
button,input,select,textarea{font-size:inherit;font-family:inherit;line-height:inherit}
a{text-decoration:none;}
a:hover{text-decoration:none;}
a:focus{outline:none;text-decoration:none;}
figure{margin:0}
img{vertical-align:middle;}
.hid{display:none;}
.carousel-inner>.item>a>img,.carousel-inner>.item>img,.img-responsive,.thumbnail a>img,.thumbnail>img{display:block;height:auto;max-width:100%}
.img-rounded{border-radius:6px}
.img-thumbnail{display:inline-block;padding:4px;height:auto;max-width:100%;border:1px solid #ddd;border-radius:4px;background-color:#fff;line-height:1.42857143;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;transition:all .2s ease-in-out}
.img-circle{border-radius:50%}
hr{margin-top:20px;margin-bottom:20px;border:0;border-top:1px solid #eee}
.sr-only{position:absolute;overflow:hidden;clip:rect(0,0,0,0);margin:-1px;padding:0;width:1px;height:1px;border:0}
.sr-only-focusable:active,.sr-only-focusable:focus{position:static;overflow:visible;clip:auto;margin:0;width:auto;height:auto}
[role=button]{cursor:pointer}
.h1,.h2,.h3,.h4,.h5,.h6{color:inherit;font-weight:normal;font-family:inherit;line-height:1.1;font-size:14px;}
.em,.b,.i{font-style:normal;font-weight:normal}.del{text-decoration:line-through}
.mt10{margin-top:10px;}.mt20{margin-top:20px;}.mt40{margin-top:40px;}.mt30{margin-top:30px;}.ml10{margin-left:10px;}.ml20{margin-left:20px;}
.mr10,.mr20,.mr40{_display:inline}.mr10{margin-right:10px;}.mr20{margin-right:20px;}.mr40{margin-right:40px;}
.fl{float:left}.fr{float:right}.rel{position:relative;}.fs12{font-size:12px;}.fs16{font-size:16px;}.fs18{font-size:18px;}.fs20{font-size:20px;}.fs22{font-size:22px;}.fs24{font-size:24px;}.fs26{font-size:26px;}.fs30{font-size: 30px;}.fs36{font-size: 36px;}.fs38{font-size: 38px;}
.text-right{text-align:right;}.text-center{text-align:center;}.text-justify{text-align:justify;}.text-nowrap{white-space:nowrap;}
.text-ellipsis{overflow:hidden;}
.text-lowercase{text-transform:lowercase;}.text-uppercase{text-transform:uppercase;}.text-capitalize{text-transform:capitalize;}
.ft-nums{font-family:Arial}.ft-tahoma{font-family:Tahoma}.ft-songti{font-family:\5B8B\4F53}.uline{text-decoration:underline}
.clearfix{*zoom:1;}.clearfix:after{display:block;overflow:hidden;clear:both;height:0;visibility:hidden;content:".";}
.abs,.ico{*zoom:1;position:absolute;display:block;z-index:1;font-size:0;}
.ico{background-image:url(../images/ico.png);_background-image:url(../images/ico.gif);background-repeat:no-repeat;background-position:0 0;}
.wrap::after{clear:both;content:" ";display:block;height:0;}
.wrap{width:1000px;margin:0 auto;}
.wraper{width:1200px;margin:0 auto;}
/*Bg color*/
.bg-white{background:#fff;}
/*Text color*/
.c-9{color:rgba(33,47,63,0.9);}a.c-9:hover{color:#d5260a;}
.c-7{color:rgba(33,47,63,0.7);}a.c-7:hover{color:#d5260a;}
.c-bold{font-weight:bold;}
.c-rise{color:#dc3433;}.c-fall{color:#25ae48;}
.c-orange{color:#ff670b;}a.c-orange:hover{color:#d5260a;}
.c-lightorange{color:#f97b00;}a.c-lightorange:hover{color:#d5260a;}
.c-red{color:#f03112;}a.c-red:hover{color:#d5260a;}
.c-red2{color:#ed3910;}a.c-red2:hover{color:#d5260a;}
.c-red3{color:#f70011;}a.c-red3:hover{color:#d5260a;}
.c-red4{color:#ff1800;}a.c-red4:hover{color:#d5260a;}
.c-green{color:#25a561;}a.c-green:hover{color:#d5260a;}
.c-white{color:rgba(33,47,63,0.9);padding-left: 10px;}a.c-white:hover{color:#d5260a;}
.c-blue1{color:#0473be;}a.c-blue1:hover{color:#d5260a;}
.c-blue2{color:#1f8bd7;}a.c-blue2:hover{color:#d5260a;}
.c-blue3{color:#098bdf;}a.c-blue3:hover{color:#d5260a;}
.c-blue{color: rgba(33,47,63,0.9);}a.c-blue:hover{color:#d5260a;}
.c-gray666{color:#212f3f;}a.c-gray666:hover{color:#d5260a;}
.c-gray333{color:rgba(33,47,63,0.9);}a.c-gray333:hover{color:#d5260a;}
.c-grayccc{color:#ccc;}a.c-grayccc:hover{color:#d5260a;}
.c-gray999{color:#999;}a.c-gray999:hover{color:#d5260a;}
.c-graye6{color:#e6e6e6;}a.c-graye6:hover{color:#d5260a;}
/*禁用链接样式*/
.a-disabled{color:#999;}a.a-disabled:hover{color:#999;text-decoration:none;cursor:default;}
/*transform*/
.tf-45{transform:rotate(-45deg);-ms-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-webkit-transform:rotate(-45deg);-o-transform:rotate(-45deg);}
/*News Head*/
.m-topbar{background:#f9f9fc;}
.m-topbar .telbox{float:left;height:36px;line-height:36px;color:#666;}
.m-topbar .telbox em,.m-topbar .telbox span{display:block;float:left;}
.m-topbar .telbox em{font-size:20px;font-weight:normal;margin-right:4px;}
.m-topbar .telbox span{font-size:12px;font-family:"Microsoft YaHei";color: #212e3e;}
.m-topbar .top-nav{float:right;height:36px;line-height:36px;color:#666;font-size:12px;}
.m-topbar .top-nav li{float:left;}
.m-topbar .top-nav li.myacc{display: none;}
.m-topbar .top-nav a{padding:0 8px;color:#212e3e;display:block;float:left;position:relative;font-family: "Microsoft YaHei";}
.m-topbar .top-nav a.aphone{padding-left:20px;}
.m-topbar .top-nav a.hi{color:#f03112;}
.m-topbar .top-nav a:hover{color:#f03112;}
.head{height:80px;background:#fff;border-bottom: 1px solid rgba(33,47,63,0.1)}.nobor{border-bottom:0;}
.head .logo,.head .slogan{margin-top:8px;float:left;}
.head .slogan{margin-left:13px;padding-left:14px;background:url(../images/slogan-bg.jpg) no-repeat left top;width:115px;}
.head .slogan h2{height:48px;line-height:48px;font-size:24px;color:#989898;font-weight:normal;display:block}
.head .big-slogan{width:150px;}
.head .head-nav{margin:23px 0 0 0;height:34px;line-height:34px;}
.head .head-nav ul,.head .head-nav li{float:left; margin-left: 67px;}
.head .head-nav li{margin-left:33px;_display:inline;}.head .head-nav li.active a{color:#f30112;}
.head .head-nav a{display:block;float:left;color:#212e3e;font-size:16px;font-family:"Microsoft YaHei";}
.head .head-nav a:hover{color:#d5260a;text-decoration:none}
.head input{width: 158px;height: 36px;border-radius:18px;border:1px solid #bac2cb;padding-left: 18px;padding-right:30px;color: #bac2cb;margin-top:21px; margin-left:33px;cursor: pointer;font-size: 12px;background-image: url(../img/search.png);background-repeat: no-repeat;background-position: 180px 10px;text-overflow:ellipsis;}
.head .log-btn{padding-top:27px;}
.head .logbtn{width: 54px;height: 24px;line-height:24px;border-radius:4px;margin-left: 10px;}
.head .lbtn2{border:1px solid #212e3e;color:rgba(33,47,63,0.7);}
.head .userinfo{margin-top:23px;_width:107px;}
.head .userinfo a{display:block;height:50px;line-height:50px;padding:0 8px 0 41px;position:relative;font-size:14px;color:#333;}
.head .userinfo a:hover .vis{display:none;}
.head .userinfo a:hover .hid{display:inline;}
.head-tab{padding:9px 0;background:#f9f9fc;border-bottom:1px solid #fbfbfb;}
.head-tab .new-notice{float:left;overflow:hidden;height:35px;line-height:35px;position:relative}
.head-tab .new-notice .notice-tit{width:100px;float:left;color: rgba(33,47,63,0.8);}
.head-tab .new-notice ul{width:497px;float:left;position:relative;overflow:hidden;height:21px;margin-top:7px;}
.head-tab .new-notice li{height:21px;line-height:21px;}
.ht-nobg{background:none}
/*News Search*/
.head-tab .head-search {float:right;margin:0 0 0 0;position:relative;}
.head-tab .head-search >ul{float:left;background-color:#fff;}
.head-tab .head-search >ul>li{float:left;position:relative;display:block}
.head-tab .head-search .dropdown,.head-tab .head-search .top-text{float:left;}
.head-tab .head-search .dropdown a:hover{text-decoration:none}
.head-tab .head-search ul.dropdown-menu{width:64px;}
.head-tab .head-search .top-text{height:33px;width:265px;border:1px solid #ccc;background:#fff;border-left:0;border-radius: 0 4px 4px 0;}
.head-tab .head-search .top-text input{border:none;font-family:Arial;height:32px;line-height:32px;outline:none;padding-left:19px;width:207px;background:none;color: #bac2cb;}
.head-tab .head-search .top-text input:focus{color: #212f3f;}
.head-tab .head-search .sbox{left:0;position:absolute;width:264px;z-index:90;top:33px;height:310px;overflow:hidden;background:#fff;border:1px solid #ccc;border-collapse:collapse;box-shadow:1px 1px 3px rgba(150, 150, 150, 0.3);_margin-left:66px;}
.head-tab .head-search .sbox table{color:#666;width:100%;}
.head-tab .head-search .sbox table tr{cursor:pointer;}
.head-tab .head-search .sbox table tr.active{background:#fdd3a2;}
.head-tab .head-search .sbox table tr:hover{background:#dfe2e6;}
.head-tab .head-search .sbox table td{height:30px;}
.head-tab .head-search .sbox table span{color:#fb1a18;}
.head-tab .head-search .sbox table .tdl{padding:0 3px;overflow:hidden;height:30px;line-height:30px;}
/*dropdown*/
.dropdown a:hover .abs-arrow-d{border-top:4px solid #666;}
.dropup,.dropdown{position:relative;}
.search-drop{width:40px;height:33px;line-height:33px;border:1px solid #ccc;border-right:0;padding-left:12px;color:#666;display:block;background:#fff;border-radius: 4px 0 0 4px;}
.dropdown-toggle:focus{outline:0;}
ul.dropdown-menu{position:absolute;top:100%;left:0;z-index:1000;float:left;display:none;margin:2px 0 0;padding:5px 0;width:180px;border:1px solid #ccc;border:1px solid rgba(0,0,0,.15);border-radius:3px;background-color:#fff;background-clip:padding-box;-webkit-box-shadow:0 6px 12px rgba(0,0,0,.175);box-shadow:0 6px 12px rgba(0,0,0,.175);list-style:none;text-align:left;font-size:14px;-webkit-background-clip:padding-box;}
ul.dropdown-menu.pull-right{right:0;left:auto;}
ul.dropdown-menu .divider{overflow:hidden;margin:9px 0;height:1px;background-color:#e5e5e5;}
ul.dropdown-menu>li>a{clear:both;display:block;padding:3px 0;color:#333;c-white-space:nowrap;font-weight:normal;line-height:1.42857143;padding-left:15px;}
ul.dropdown-menu>li>a:hover,ul.dropdown-menu>li>a:focus{background-color:#f5f5f5;color:#262626;text-decoration:none;}
ul.dropdown-menu>.active>a,ul.dropdown-menu>.active>a:hover,ul.dropdown-menu>.active>a:focus{outline:0;background-color:#337ab7;color:#fff;text-decoration:none;}
ul.dropdown-menu>.disabled>a,ul.dropdown-menu>.disabled>a:hover,ul.dropdown-menu>.disabled>a:focus{color:#777;}
ul.dropdown-menu>.disabled>a:hover,ul.dropdown-menu>.disabled>a:focus{background-color:transparent;background-image:none;text-decoration:none;cursor:not-allowed;filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);}
.open>ul.dropdown-menu{display:block;}
.open>a{outline:0;}
ul.dropdown-menu-right{right:0;left:auto;}
ul.dropdown-menu-left{right:auto;left:0;}
.dropdown-header{display:block;padding:3px 20px;color:#777;c-white-space:nowrap;font-size:12px;line-height:1.42857143;}
.dropdown-backdrop{position:fixed;top:0;right:0;bottom:0;left:0;z-index:990;}
/*Root*/
.footer{background:#2e313a;padding-top:60px;position:relative;z-index:10;}
.footer dl{width:117px;float:left;padding-right:37px;color: #fff;}
.footer dt{display:block;height:34px;line-height:34px;}
.footer dd{margin-top:8px;}
.footer li{height:26px;line-height:26px;}
.footer li a{color:rgba(254,254,254,0.6);font-size:12px;}.footer li a:hover{color:#d5260a;}
.footer .foot-tel{width:200px;float:left;margin-left:37px;color:#fff;text-align:center;font-family:"Microsoft YaHei"}
.footer .foot-tel .tel-num{margin-top:35px;}
.footer .foot-tel .tel-time{color:rgba(254,254,254,0.6);}
.footer .foot-logo{width:169px;float:left;margin-left:57px;}
.foot-title{border-bottom:1px solid #ccc;}
.foot-title li{float:left;position:relative;height:37px;}
.foot-title li h2{line-height:37px;color: #fff;}
.foot-cont{padding:13px 4px 0 2px;height:89px;overflow:hidden}
.foot-cont img{float:left}
.foot-cont a,.foot-cont span{display:block;float:right;}
.foot-cont a{width:55px;position:relative;background:#f03112;padding:1px 1px 1px 32px;border-radius:20px;margin:7px 0}
.foot-cont a:hover{background:#d5260a;text-decoration:none;}
.foot-cont a h4{display:block;height:28px;line-height:28px;color:#666;border-radius:0 20px 20px 0;background:#fff;padding-left:11px;}
.foot-cont a:hover h4{color:#d5260a;}
.foot-cont span.first{margin-top:14px;}
.foot-cont span{width:69px;height:29px;line-height:29px;text-align:center;color:#fff;}
.foot-img,.foot-copy{text-align:center;}
.foot-img{padding:40px 0;}.foot-img img{padding:0 10px;}
.foot-copy{line-height:24px;color:#666;padding-bottom:30px;font-size:12px;color:rgba(254,254,254,0.6);}
.foot-tips{height:8px;margin:40px 0 10px 0;background-repeat:repeat-x;background-position:0 0;position:relative}
.foot-tips span{width:128px;height:24px;line-height:24px;left:50%;top:0;margin:-8px 0 0 -64px;background:#2e313a;font-size:12px;text-align:center;color:rgba(254,254,254,0.6);}
.foot-tips .line{height:1px;background-color:rgba(255,255,255,0.1);position:relative;top:3px;width:1200px;}
.foot-tips .sline{height:1px;background-color:rgba(255,255,255,0.1);position:relative;top:3px;width:1000px;}
/*Btn  btn 为实心按钮--btnbor空心按钮--为禁用状态*/
.btn,.btnbor{display:block;height:38px;line-height:38px;text-align:center;font-weight:normal;border-width:1px;border-style:solid;cursor:pointer;margin:0;padding:0;}
.btn:hover,.btnbor:hover{text-decoration:none}
.btn{background-color:#f03112;color:#fff;border-color:#f03112;border-radius: 4px;}
.btn:hover{color:#fff;background-color:#d5260a;border-color:#d5260a;}
.btnbor{background-color:#fff;color:#666;border-color:#ccc;border-radius: 4px;}
.btnbor:hover{background:#fff;color:#d5260a;border-color:#d5260a;}
.btn-large{height:48px;line-height:48px;}
.btn-small,.btnbor-small{height:28px;line-height:28px;}
.btnbor-org,.btnbor-orgm,.btnbor-orgm33,.btnbor-orgm28{height:22px;line-height:22px;border-color:#f03112;border-radius:4px;padding:0 10px;color:#f03112;background:#fff}
.btnbor-org:hover,.btnbor-orgm:hover,.btnbor-orgm33:hover,.btnbor-orgm28:hover{background-color:#d5260a;color:#fff;border-color:#d5260a;}
.btnbor-orgm,.btnbor-orgm33,.btnbor-orgm28{background-color:#fff7f3;height:24px;line-height:24px;}
.btnbor-orgm33{height:33px;line-height:33px;width:148px;padding:0;}.btnbor-orgm28{height:28px;line-height:28px;padding:0 20px;}
.btnbor-org{font-size:12px;border-radius:2px;}
/*btn disabled*/
.btn-disabled{background-color:#dadada;border-color:#dadada;color:#fff;cursor:default;}
.btn-disabled:hover{background-color:#dadada;border-color:#dadada;color:#fff;}
.btnbor-disabled{border-color:#e6e6e6;color:#b5b5b5;cursor:default;background-color:#e6e6e6;}
.btnbor-disabled:hover{border-color:#e6e6e6;color:#b5b5b5;background-color:#e6e6e6;}
/*Tab*/
.tab-content .tab-pane{display:none}
.tab-content .active{display:block}
/*Bread crumbs*/
.crumbnav{height:22px;line-height:22px;overflow:hidden;padding:9px 0 9px 30px;color:#666;font-size:12px;background:url(../images/ico-home.png) no-repeat 6px 12px;_background:url(../images/ico-home.gif) no-repeat 6px 12px;position:relative}
.crumbnav a,.crumbnav i,.crumbnav b,.crumbnav span{display:block;height:22px;line-height:22px;float:left;}
.crumbnav i{font-style:normal;margin:0 3px;font-family:\5B8B\4F53;}
.crumbnav b{font-weight:normal}.crumbnav .span{float:right;}
.crumbnav span a{padding:0 5px;}
.crumbnav a.crumbAttr{color:#fff;padding:0 23px 0 7px;overflow:hidden;margin-left:6px;background:#1873b9 url(../images/crumbAttr.gif) no-repeat top right;border-radius:2px}
.crumbnav a.crumbAttr:hover{background:#fe0000 url(../images/crumbAttr.gif) no-repeat top right;text-decoration:none;color:#fff;}
/*Shape icon*/
.abs-pont2{font-size:0;overflow:hidden;left:0;top:50%;}
.abs-line{background:#1f8bd7;bottom:0;left:0;margin-bottom:-1px;font-size:0;overflow:hidden;}
.abs-arrow-r{left:0;top:50%;width:0;height:0;border-top:6px solid transparent;border-bottom:6px solid transparent;border-left:6px solid #999;margin-top:-6px;_display:none}
.abs-arrow-d{left:44px;top:50%;width:0;height:0;border-top:4px solid #666;border-right:4px solid transparent;border-left:4px solid transparent;margin-top:-2px;_display:none}
.abs-pont2{width:9px;height:9px;background:#1f8bd7;margin-top:-5px;line-height:9px;}
.abs-hor,.abs-ver{font-size:0;overflow:hidden;background-color:#fff;}
.abs-hor{width:9px;height:3px;line-height:3px;top:6px;left:3px;}
.abs-ver{width:3px;height:9px;line-height:9px;top:3px;left:6px;}
.abs-rank{width:16px;height:16px;line-height:16px;text-align:center;left:8px;top:7px;background:#909090;color:#fff;font-style:normal;font-size:12px;}
.abs-top{background:#ff6666;color:#fff;}
.abs-line2px,.abs-line3px{background:#f03112;bottom:0;left:0;margin-bottom:-1px;font-size:0;overflow:hidden;width:100%;font-size:0;overflow:hidden}
.abs-line3px{height:3px;}.abs-line2px{height:2px;}
.abs-i,.abs-bluei,.abs-ask{width:16px;height:16px;background-color:#b7b6d2;left:0;top:50%;margin-top:-8px;border-radius:100%;font-size:12px;color:#246db9;line-height:16px;text-align:center;font-family:Georgia;}
.abs-bluei{background-color:#1f8bd7;color:#fff;}
.abs-ask{width:18px;height:18px;line-height:18px;background-color:#ccc;margin-top:-9px;color:#fff;font-size:14px;}
/*Icon*/
.ico-phone{width:15px;height:20px;left:8px;top:50%;background-position:-103px -17px;margin-top:-10px;}
.ico-search{width:40px;height:35px;right:0;top:0;background-position:center;cursor:pointer;margin:-1px -1px 0 0;background-image: url(../images/s-ch.png);border-left:1px solid #ccc;}
.ico-search:hover{background-color: #f03112;background-image: url(../images/ico.png);    background-position: -128px -173px;border-radius:0 4px 4px 0;}
.ico-accounts{width:24px;height:26px;left:20px;top:12px;background-position:-34px -1px;}
.ico-i{width:16px;height:16px;background-color:#f03112;left:0;top:50%;margin-top:-8px;background-position:-123px 0;border-radius:100%;}
.ico-more{width:16px;height:16px;right:0;top:50%;background-position:-203px 0;font-size:0;background-color:#cecece;border-radius:50%;margin-top:-8px;}
.ico-remove{width:12px;height:16px;right:9px;top:7px;background-position:-220px 0;font-size:0;}
.ico-error,.ico-right{width:16px;height:16px;line-height:16px;font-size:0;overflow:hidden}
.ico-error{background-position:-322px 0;}
.ico-right{background-position:-305px 0;top:50%;margin-top:-8px;left:0}
.ico-vital{width:14px;height:12px;left:0;top:50%;margin-top:-6px;background-position:-356px -19px;}
.ico-android{width:17px;height:20px;left:9px;top:4px;background-position:-338px 0;}
.ico-ios{width:17px;height:18px;left:9px;top:5px;background-position:-356px 0;}
a.ico-remove:hover{background-position:-233px 0;}
.ico-sphone{width:11px;height:14px;left:5px;top:13px;background-position:-356px -33px;}
.ico-myaccount{width:32px;height:32px;left:0;top:8px;background-position:-72px -136px;}
.ico-weixin{cursor: pointer;width:25px;height:25px;left:170px;top:6px;background-image: url(../images/common/weixin.png);background-repeat: no-repeat;}
.ico-weibo{cursor: pointer;width:25px;height:25px;left:205px;top:6px;background-image: url(../images/common/weibo.png);background-repeat: no-repeat;}
.ico-notice{width:16px;height:18px;left:0;top:50%;background-position:-293px -153px;margin-top:-9px;}
/*Page*/
.jj-page{margin-top:36px;margin-bottom:100px;height:30px;overflow:hidden}
.jj-page ul{float:left;position: relative;left: 50%;margin-left: -145px;}
.jj-page li{float:left;margin:0 5px;}
.jj-page li.prev{margin-right: 10px;}
.jj-page li.next{margin-left: 10px;}
.jj-page li a,.jj-page .form  a.btn{display:block;float:left;position:relative;height:28px;line-height:30px;width:28px;text-align: center;}
.jj-page li a{color:rgba(33,47,63,0.8);border:1px solid #ccc;}
.jj-page li a:hover{background:#e7e9eb;border:1px solid #e7e9eb;text-decoration:none;}
.jj-page li.active a,.jj-page li.active a:hover{background:#e7e9eb;border:1px solid #e7e9eb;cursor:default}
.jj-page li.dot{cursor:default;height:28px;line-height:18px;width:28px;font-size:18px;text-align:center;border:1px solid #ccc;color: rgba(33,47,63,0.8);}
.jj-page li .ico{width:7px;height:11px;line-height:11px;overflow:hidden;font-size:0;top:6px;} 
.jj-page li.prev a i,.jj-page li.disabled a i.ico-prev{left:6px;}
.jj-page li.next a i,.jj-page li.disabled a i.ico-next{right:6px;}
.jj-page li.disabled a,.jj-page li.disabled a:hover{border:1px solid #ededed;color:rgba(33,47,63,0.8);cursor:default;background:#fff;}
.jj-page li.prev a i{background-position:-139px 0;}
.jj-page li.prev a:hover i{background-position:-155px 0;}
.jj-page li.disabled a i.ico-prev,.jj-page li.disabled a:hover i.ico-prev{background-position:-188px 0;}
.jj-page li.next a i{background-position:-147px 0;}
.jj-page li.next a:hover i{background-position:-163px 0;}
.jj-page li.disabled a i.ico-next,.jj-page li.disabled a:hover i.ico-next{background-position:-196px 0;}
.jj-page .form{float:right;}
.jj-page .form .txt{display:block;float:left;margin:0 5px;color:#666;line-height:25px;}
.jj-page .form .input{border:1px solid #ccc;height:23px;line-height:23px;text-align:center;width:40px;color:#666;float:left;font-size:12px;}
.jj-page .form  a.btn{width:30px;background-color:#f03112;border-color:#f03112;color:#fff;}
.jj-page .form  a.btn:hover{background-color:#d5260a;border-color:#d5260a}
.detail{color:#666;line-height:25px;word-break:break-all}
.detail p{text-indent:28px;margin-top:20px;}
/*旧的表格数据为空*/
.empty-box{text-align:center;padding:192px 0 30px 0;background:url(../images/empty.png) no-repeat  center 82px;}
.empty-box .empty-txt{display:block;color:#8f9293;height:45px;line-height:45px;}
/*kefu*/
.kefu-box{overflow:visible;position:fixed;left:50%;margin-left:655px;bottom:50px;z-index:60;height:282px;width:42px;}
.kefu-cont{position:relative;}
.kf-sidebar{position:absolute;z-index:20;right:0;width:42px;}
.kf-sidebar .its{margin-bottom:5px;cursor:pointer;height:42px;position:relative;display:block;}
.kf-sidebar .kefu{background:url(../img/kefu.png) no-repeat;}
.kf-sidebar .msg{background-position:0 0;}
.kf-sidebar .hottel{background:url(../img/hottel.png) no-repeat;}
.kf-sidebar .ewm{background:url(../img/ewm.png) no-repeat;}
.kf-sidebar .yijian{background:url(../img/yijian.png) no-repeat;}
.kf-sidebar .gotop{background:url(../img/gotop.png) no-repeat;}
.kf-sidebar .choice{background:url(../img/choice.png) no-repeat;}
.kf-sidebar .rotate{color:#fff;overflow:hidden;height:42px;}
.kf-sidebar .rotate span{background-color:#fafafc;color:rgba(33,47,63,0.7)!important;border-radius:3px;height:100%;left:0;line-height:15px;padding:7px 9px;position:absolute;text-align:center;text-decoration:none!important;top:0;transform:rotate3d(0,0,1,90deg);transform-origin:-50% 50% 0;transition:transform .3s ease-in 0s;width:24px;font-size:12px;
-ms-transform:rotate3d(0,0,1,90deg);
-o-transform:rotate3d(0,0,1,90deg);
-webkit-transform:rotate3d(0,0,1,90deg);
-ms-transform-origin:-50% 50% 0;
-o-transform-origin:-50% 50% 0;
-webkit-transform-origin:-50% 50% 0;
-ms-transition:transform .3s ease-in 0s;
-o-transition:transform .3s ease-in 0s;
-webkit-transition:transform .3s ease-in 0s;
}
.kf-sidebar .rotate span{display:none\9;height:28px;}
.kf-sidebar .rotate span.on{display:block\9;}
.kf-sidebar .rotate:hover,.kf-sidebar .rotate:hover span{transition-timing-function:ease-out;
-ms-transition-timing-function:ease-out;
-o-transition-timing-function:ease-out;
-webkit-transition-timing-function:ease-out;
}
.kf-sidebar .rotate:hover span{text-decoration:none;transform:rotate3d(0,0,1,0deg);
-ms-transform:rotate3d(0,0,1,0deg);
-o-transform:rotate3d(0,0,1,0deg);
-webkit-transform:rotate3d(0,0,1,0deg);
}
.kf-sidebar .ewm a, .kf-sidebar .ewm a {height:50px;line-height:50px;padding:0;width:50px;}
.kf-pop{border:1px solid #d5260a;background:#fff;width:128px;position:absolute;z-index:21;text-align:center;padding:7px 0 21px 0;opacity:0;right:80px;}
.kf-pop-active{opacity:1;right:42px;transition:all .2s ease 0s;}
.kf-pop .h3{line-height:18px;font-size:14px;color:#666;padding:6px 0;}
.hottel-box{top:94px;}.hottel-box i,.hottel-box span{display:block;}
.hottel-box i{height:22px;line-height:22px;}.hottel-box span{height:18px;line-height:18px;}
.ewm-box{height:263px;}.ewm-box a{display:block;margin:0 9px;height:33px;line-height:33px;padding-bottom:9px;border-bottom:1px dashed #ddd;}
.zixuan-box{width:178px;background:#fff;min-height:165px;top:0;text-align:left;padding-bottom:7px;padding-top:0;}
.zixuan-box .nofund{position:relative;}
.zixuan-box .nofund .nofund{color:#ccc;font-size:12px;text-align:center;line-height:18px;display:block;padding:115px 0 19px 0;}
.zixuan-box .nofund .ico-empty{width:60px;height:50px;left:50%;top:50%;margin-left:-30px;background-position:-245px 0;margin-top:-40px;}
.zixuan-box a.zxbtn{display:block;height:30px;line-height:30px;text-align:center;color:#666;background:#edf8ff;margin:10px 4px 0 4px;}
.zixuan-box a.zxbtn:hover{background:#feab4a;color:#fff;text-decoration:none}
.zixuan-box .list li{padding:2px 9px;border-bottom:1px dashed #ccc;position:relative;}
.zixuan-box .list li:last-child{border-bottom:0}
.zixuan-box .list li:hover{background:#edf8ff;}
.zixuan-box .list li h4,.zixuan-box .list li span,.zixuan-box .list li em,.zixuan-box .list li a{display:block;}
.zixuan-box .list li h4,.zixuan-box .list li p{height:25px;line-height:25px;overflow:hidden;}
.zixuan-box .list li h4{width:124px;overflow:hidden}
.zixuan-box .list li span,.zixuan-box .list li em{float:left}.zixuan-box .list li a.zxbuy{float:right}
.zixuan-box .list li span{font-size:12px;}
.zixuan-box .list li em{width:63px;text-align:right;font-style:normal;font-weight:normal}
.zixuan-box .list li .zxremove:hover{background-position:-233px 0;}
.kf-sidebar .inIcon,.kf-sidebar .outIcon{width:30px;height:73px;position:absolute;z-index:20;opacity:0;left:17px;}
.kf-sidebar .inIcon{background:url(../images/mychoice.png) no-repeat 0 0;background-size:cover;}
.kf-sidebar .outIcon{background:url(../images/mychoice_out.png) no-repeat 0 0;background-size:cover;}
/*置空*/
.empty-default{position:absolute;z-index:10;text-align:center;width:100%;top:50%;}
.empty-default .emp-txt{color:#666;font-size:16px;}.empty-default .emp-txt .mlr{margin:0 5px}
.empty-stable{margin-top:-60px;}
.empty-stable .emp-img{height:94px;background:url(../images/empty/s-empty.png) no-repeat center center;}
.empty-stable .emp-txt{height:26px;line-height:26px;}
.empty-bigtable{margin-top:-77px;}
.empty-bigtable .emp-img{height:124px;background:url(../images/empty/empty.png) no-repeat center center;}
.empty-bigtable .emp-txt{height:30px;line-height:30px;}
#rebBoxA{height:54px;line-height:54px;font-size:16px;}
.content-bottom{background-color:#f9f9fc;padding:30px 0;}
.sbtn{width: 56px;height: 26px;line-height:26px;color: #f03112;text-align: center;border-radius: 4px;}
a.sbtn:hover{background-color:#d5260a;color: #fff;}
.search-box{width: 378px;background-color: #fff;position: absolute;z-index: 999;right:6px;top:59px;color:rgba(33,47,63,0.7);}
.search-box tr.first{border-bottom:1px solid rgba(33,47,63,0.1);}
.search-box tr{height:34px;line-height:34px;cursor:pointer;}
.search-box tr:hover{color:rgb(33,47,63);background-color:#f9f9fc}
.search-box tr.first:hover{background-color:#fff;color:rgba(33,47,63,0.7);}
.search-box td{padding-left:10px;}
.logbtn{cursor:pointer;display:inline-block;text-align:center;vertical-align:middle;border-radius:4px;display:block;font-size:15px;height:30px;line-height:30px;top:0;width:100px}
.lbtn1{background:#d5260a;color:#fff;}
.lbtn2{background:#fdfbf8;color:#f03112;}
.logbtn:hover{background:#d5260a;color:#fff;text-decoration: none;border:none;height:26px;line-height:26px;width:56px;}
.telbox i.ico-weixin:hover .hid{display:block;}
.telbox i.ico-weibo:hover .hid{display:block;}